
.typeaheadDropdown {
    padding: 0;
    position:relative;
    display: flex;
}

.clearButton {
    position: absolute;
    right: 7px;
    top: 6px;
}

.dropdown {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: calc(100% - 3px);
    background-color: white;
    border: 2px solid black;
    border-right-width: 4px;
    z-index: 1;
}

.dropdownItem {
    height: 30px;
    padding: 0 5px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: medium;
}

.dropdownItem:last-child {
    border-bottom: none;
}
