.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.appHeader {
    background-color: #282c34;
    height: 50px;
    display: flex;
    align-items: center;
}

.appLogo {
    height: 40px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .appLogo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.appBody {
    flex: 1;
    background-color: rgb(161, 161, 161);
}

.successMessage {
    font-size: large;
    text-align: center;
}
